* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  overflow: hidden;
}
nav {
  padding: 2rem;
  box-shadow:0 0 15px rgb(204 204 204)
}
.heroSection {
  margin-bottom: 10vh;
}
.heroImageContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.heroImage {
  width: 70vw;
}
.locationText {
  color:gray;
  display: flex;
  align-items: center;
  gap: .3rem;
}
.dot {
  font-size: .7rem;
}
.cardInfoFirstLine {
  display: flex;
  align-items: center;
  gap: .3rem;
}
.heroDescriptionContainer {
  padding-left: 7vw;
}
h1 {
  font-weight: 600;
  font-size: 3.25rem;
}
p {
  line-height: 1.75rem;
  font-size: 1.45rem;
  max-width: 400px;
  font-weight: 300;
}
.cardInfo > p {
  margin: .5rem 0 .5rem 0;
}
.onlineStatus {
  position: absolute;
  top: 8px;
  left: 9px;
  padding: .3rem;
  border-radius: 3px;
  background-color: white;
  font-weight: 300;
}
.card {
  padding-left: 7vw;
  padding-bottom: 7vw;
}
.imageHolder {
  position: relative;
}
.infoHolderContainer {
  display: flex;
  flex-direction: column;
  gap: .3rem;
} 
.cards {
  display: flex;
}
.cardInfo {
  max-width: 170px;
}